body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container, form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 340px;
}

h2, .message-container p, .auth-options p, .auth-option p {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group, .form-group label, .login-form input, .login-form button, .message-container button, .homepage-button, .auth-options div {
  margin-bottom: 20px;
}

.form-group label, .auth-option a {
  display: block;
  margin-bottom: 8px;
}

.form-group input, .login-form input, .homepage-button {
  width: calc(100% - 24px);
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
}

button, .login-form button, .message-container button, .auth-options button, .auth-option button {
  padding: 12px 0;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

button:hover, .login-form button:hover, .message-container button:hover {
  background-color: #0056b3;
}

input:focus {
  border-color: #5C6BC0;
  outline: none;
}

.welcome-container h1 {
  font-size: 2.8rem;
  color: #333;
  margin: 0;
  margin-bottom: 30px;
}

.username {
  color: #5C6BC0;
}

.buttons-container, .auth-options {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.welcome-container a {
  text-decoration: none;
  color: inherit;
}

.auth-option a {
  margin: 0 auto;
  min-width: 160px;
}
